.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  object-fit: contain;
}

.logo-text {
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  color: #000000;
  letter-spacing: -0.5px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: color 1500ms;
  text-decoration: none;
  color: #5b21b6;
}

.nav-links a:hover {
  color: #380d7c;
  font-weight: 600;
}

.btn-signup {
  background-color: transparent;
  border: 2px solid #5b21b6;
  color: #4c1d95;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 1500ms ease;
  font-family: "Inter", sans-serif;
}

.btn-signup:hover {
  background-color: #5b21b6;
  color: white;
}
